%form
  %input{name: 'q', type: 'text', value: @query, placeholder: t('search.placeholder')}

- if @query.present? && @hits.length > 0
  %h2
    = t('hits_found', query: h(@query))

  %ul
    - @hits.each do |hit|
      %li
        = hit.title

        = link_to(cms_path(hit)) do
          = hit.path

- elsif @query.present?
  %h2
    = t('no_hits', query: h(@query))